@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap");

.container{
    border: 2px solid black;
    width: 1200px;
    height: 600px;
    margin: 20px auto;
}
.aboutus_image{
    margin-top: 5px;
    margin-left: 50px;
    width: 90%;
    height: 70%;
}
.container h1{
    margin: 5px 10px;
}
.container p{
    margin: 30px 50px;
    text-align: left;
    font-weight: 400;
    line-height: 1.25rem;
    font-family: Nunito Sans,sans-serif;
}